body,html {
    margin: 0;
    padding: 0;
    font-family: Verdana,sans-serif;
    font-size: 12px;
}
h1 {
    font-size: 1.4em;
    color: #008000;
}
a {
    color: #008000;
}
/* Table */
th {
    text-align: left;
}
td, th {
   padding-right: 5px;
}
/* style form */
form dt {
    width: 100px;
    display: block;
    float: left;
    clear: left;
}
form dd {
    margin-left: 0;
    float: left;
}
form #submitbutton {
    margin-left: 100px;
}

table#albums {
    width: 600px;
    /*border: 1px solid #000000 !important;*/
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
    background: #eee;
}

nav ol li {

}



footer {
    width: 100%;
    height: 100px;
    background: #eee;
}
div#content {
    background: #e9f1f6;
}
div#contact-form {
    background: rgba(166, 199, 27, 0.23);
    display: table;
    border: 1px solid #008000;
    padding: 10px;
}

#items {
    display: table;
}

form#album {
    display: table;
}